@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1>Google Street View Image Test</h1>
    <img src="https://maps.googleapis.com/maps/api/streetview?size=600x400&location=40.457375,-80.009353&heading=151.78&pitch=-0.76&key=@ViewData["apiKey"]" alt="Street View Image">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
